%h1 Instituto de Neurobiología de la UNAM

/Texto predeterminado
%p #{@config_text_contract}
%br/

/----Información de contrato

/No. de contrato
%h3 No. de Contrato: #{@header}

/Descripción de contrato
%h4 Descripción:
%p #{@contenido}

/Fecha inico-fin, fecha visita
%p #{@fecha}