.modal-header
  %h3.modal-title
    = t('.title_edit_siteview')
.modal-body
  = render 'form'
/ .modal-footer
/   = link_to t('show'), @system_siteview, remote: true, class: "btn btn-sm btn-tss"
/   = link_to t('back'), system_siteviews_path, class: "btn btn-sm btn-tss"