// Place all the styles related to the System/Contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.container_general{
  background-color: white;
  padding: 1%;
}
.title_contract,
.title_renewal,
.title_siteview,
.title_reporter,
.title_configuration,
.title_file{
  background-color: rgb(50,76,115);
  color: white;
  padding: 10px;
  border-radius: 3px;
}
.city {
    float: left;
    width: 100%;
    height: 100%;
} 

