.modal-header
  %h3.modal-title 
    = t('.title_edit_contract')
.modal-body
  = render 'form'
/ .modal-footer
/   = link_to t('show'), @system_contract, remote: true, class: "btn btn-sm btn-tss"
/   = link_to t('back'), system_contracts_path, class: "btn btn-sm btn-tss"