/log
/tmp

config/database.yml
*.cache
Gemfile.lock
Gemfile
*.cache
Gemfile.lock
Gemfile
config/database.yml
config/database.yml
config/database.yml
config/database.yml

*.cache
config/database.yml
app/views/system/reporter/jquery-2.1.4.js
*.cache
config/database.yml
config/database.yml