.modal-header
  %h3.modal-title
    = t('.title_edit_supplier')
.modal-body
  = render 'form'
/ .modal-footer
/   = link_to t('show'), @catalogs_supplier, class: "btn btn-sm btn-tss", remote: true
/   = link_to t('back'), catalogs_suppliers_path, class: "btn btn-sm btn-tss"
