// Place all the styles related to the Catalogs/Devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.container_general{
  background-color: white;
  padding: 1%;
}

.title_devices,
.title_locations,
.title_supplier {
  background-color: rgb(50,76,115);
  color: white;
  padding: 10px;
  border-radius: 3px;
}

